.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    padding: 1.3rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: var(--color-primary-variant);
    background-color: transparent;
}

.portfolio__item:hover {
    border-color: var(--color-bg-variant);
}

.portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
    height: 60%;
    width: 100%;
}

.portfolio__item h3 {
    margin: 1.2rem 0 0.5rem 0rem ;
}

.portfolio__item small {
    font-weight: lighter;
    color: var(--color-light);
}
.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-top: 1em;
}

/* ====  Media Queries (Medium Devices) ===*/
@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.3rem;
    }
}
   
/* ====  Media Queries (Small Devices) ===*/
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}