header {
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}
.header__container h5{
color: var(--color-light);
}

/* ==== CTA ==== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ==== Header Social==== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ==== ME ==== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 28.5rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1.5rem 0rem 0rem 0rem;
}
.me img {
    margin-top: -0.5rem;
    opacity: 0.9;
  }

/* ==== Scroll Down ==== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/* === For Waving Hand */

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(20.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-12.0deg) }
     30% { transform: rotate(20.0deg) }
     40% { transform: rotate(-8.0deg) }
     50% { transform: rotate(12.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

/* ====  Media Queries (Medium Devices) ===*/
@media screen and (max-width: 1024px){
    header {
        height: 70vh;
    }
}

/* ====  Media Queries (Small Devices) ===*/
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}

/* ====  Media Queries (Small Devices) ===*/
@media screen and (max-width: 480px){
    header {
        height: auto;
    }
    .me {
        position: relative;
    }
}