.spacer {
    background-color: black;
    height: 6em;
}
.socials a{
margin: 1em;
font-size: 1.2em;
}
.socials {
    display: flex;
    justify-content: center;
}

.spacer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.spacer small {
    color: var(--color-light);
    font-weight: lighter;
    font-size: 0.7em;
    margin-bottom: 1em;
}